<%= form_with(model: land, local: true) do |form| %>
  <% if land.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(land.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% land.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Land Use<br/>
    <%= form.text_field :name, id: :land_name %>
  </div>

  <div class="actions">
    <%= form.submit "Save"%>
  </div>
<% end %>
