<p id="notice"><%= notice %></p>

<p>
  <strong>Degree:</strong>
  <%= @whole.degree %>
</p>

<p>
  <strong>Description:</strong>
  <%= @whole.description %>
</p>

<%= link_to 'Edit', edit_whole_path(@whole) %> |
<%= link_to 'Back', wholes_path %>
