<%= form_with(model: integrity, local: true) do |form| %>
  <% if integrity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(integrity.errors.count, "error") %> prohibited this integrity from being saved:</h2>

      <ul>
      <% integrity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :degree %>
    <%= form.text_field :degree, id: :integrity_degree %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :integrity_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
