<p id="notice"><%= notice %></p>

<h1>Intacts</h1>

<table>
  <thead>
    <tr>
      <th>Degree</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @intacts.each do |intact| %>
      <tr>
        <td><%= intact.degree %></td>
        <td><%= intact.description %></td>
        <td><%= link_to 'Show', intact %></td>
        <td><%= link_to 'Edit', edit_intact_path(intact) %></td>
        <td><%= link_to 'Destroy', intact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Intact', new_intact_path %>
